<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Say it with a graph.<br/><span class='whispers'>Like a dick.</span></h1>
  <p class="lead">
  The Facetious Graph Generator helps out in those situations where a verbal response just won't cut it. Don't spend hours trying to source out another hilarious GIF, or an insulting smoke signal&mdash; simply create a delightfully facetious graph and show them who's boss.
    </p>
  <p><a class="btn btn-lg btn-success" ng-href="step/1">Let's do this shit!</a></p>
</div>

<div class="footer">
  <p>Created by Matt Fletcher in 2014. Holla.</p>
</div>
